body {
  font-size: 13px;
  white-space: nowrap;
}

a,
a:link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms;
  -webkit-transition: color 250ms;
}

a:hover,
a:active {
  color: #717171;
}

.ui.table th,
.ui.table td {
  text-align: center;
}

